.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #e30613;
}

.hero p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-sub {
  color: #ccc;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.primary {
  background: #e30613;
  color: white;
}

.secondary {
  background: #25D366;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}